{{ define "body" }}
<body>
    {{ template "navbar" .}}
    {{ template "maintoasts" .}} 
    <div class="pt-6 pl-6">
        <div class="flex flex-col">
            {{ template "form" .}}
            <div class="pt-6"></div>
            {{ template "uuid" .}}
        </div>
    </div>
    {{ template "scripts" .}}
</body>
{{ end }}