{{ define "scripts" }}
<script>
    function copy (host, uid){
        const shortUrl = host + uid
        navigator.clipboard.writeText(shortUrl)
            .then(() => {
                const toast = document.getElementById("toast");
                toast.classList.remove("hidden");
                setTimeout(() => {
                    toast.classList.add("hidden");
                }, 3000)
            })
            .catch((err) => {
                const toastFail = document.getElementById("toastFail")
                document.getElementById("errorMessage").innerHTML = "Error copying to clipboard!"
                toastFail.classList.remove("hidden")
                setTimeout(() => {
                    toastFail.classList.add("hidden")
                }, 5000)
                console.error(err.name, err.message)
            }) 
    }

    const uuid4element = document.getElementById("uuid4")
    function generateUuid4(){
        let uuid4 = self.crypto.randomUUID();
        uuid4element.innerHTML = uuid4
        uuid4element.classList.remove("hidden")
    }

    function copyUuid4(){
        navigator.clipboard.writeText(uuid4element.innerHTML)
        .then(() =>{
                const toast = document.getElementById("toastMain");
                toast.classList.remove("hidden");
                setTimeout(() => {
                    toast.classList.add("hidden");
                }, 3000)
        })
        .catch((err) =>{
            console.error(err.name, err.message)
        })
    }

    function deleteShortUrl(key, button){
        fetch(`/delete-short-url/${key}`, {
            method : 'POST'
        })
        .then(res => res.json())
        .then(data =>{
            if(data.status === "deleted"){
                button.closest('.card').remove();

            }
        })
        .catch(err =>{
            console.error(err);
        })

    }

    function updateRecentUrls(){
        fetch("/recent-urls")
        .then(res => res.json())
        .then(urls => {
            const container = document.querySelector("#url_modal .flex.flex-col");
            container.innerHTML = "";
            urls.forEach(entry =>{
                container.innerHTML += `
                    <div class="pt-2"></div>
                        <div class="card w-full bg-base-100 shadow-sm">
                            <div class="card-body">
                                <div class="flex flex-row">
                                    <div class="avatar">
                                            <div class="w-16 rounded-full">
                                                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                                            </div>
                                    </div>
                                    <div class="flex flex-col px-2">
                                        <h2 class="card-title noselect"> {{ .host }}${entry.key}</h2>
                                        <p class="text-teal-600 noselect">${entry.value}</p>
                                          <p class="text-xs text-gray-500">Created: ${entry.elapsed} ago</p> 
                                    </div>
                                </div>
                                
                                <div class="flex flex-row">
                                    <div class="justify-end card-actions px-1">
                                        <a href="${entry.value}" target="_blank" class="btn btn-outline btn-info">
                                            <i class="fa fa-fw fa-share"></i>
                                        </a>
                                    </div>

                                    <div class="justify-end card-actions px-1">
                                        <button class="btn btn-outline btn-success" onclick="copy('{{ .host }}','${entry.key}')">
                                            <i class="fa-solid fa-fw fa-copy"></i>
                                        </button>
                                    </div>

                                    <div class ="justify-end card-actions px-1">
                                        <button class="btn btn-outline btn-error" onclick="deleteShortUrl('${entry.key}', this)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                `
            })
        })
    }
    document.addEventListener("DOMContentLoaded", function(){
        updateRecentUrls();
    })
</script>
{{ end }}